/**
* 
**/
/*Start global*/
/* https://stackoverflow.com/questions/3468154/what-is-webkit-and-how-is-it-related-to-css */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::-moz-selection {
  color: var(--third-color);
  background-color: var(--pri-color);
}

*::selection {
  color: var(--third-color);
  background-color: var(--pri-color);
}

html {
  font-size: 10px;
  font-family: 'Alegreya Sans', sans-serif;
  font-family: 'Anonymous Pro', monospace;
  font-family: 'Overpass Mono', monospace;
  font-family: 'Radley', serif;
  font-family: 'K2D', sans-serif;
  /* font-family: 'Roboto', sans-serif; */
  /* font-family: 'Roboto Mono', monospace;
    font-family: 'Heebo', sans-serif;
    font-family: 'Source Serif Pro', serif;
    font-family: 'Philosopher', sans-serif; */
  color: #eee;
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  width: 100%;
  height: 100vh;
  /* background: url("images/sitebg.jpg") no-repeat center fixed; */
  /*  Neumorphism Theme */
  background: var(--background);
  background-size: cover;
  /* background-color: #131218; */
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

section {
  padding: 6rem 0;
}

/* all links */
a {
  text-decoration: none;
  color: var(--pri-color);
}

/* all p/fonts */
p {
  font-size: 1.8rem;
  font-weight: 100;
  line-height: 1.6;
  word-spacing: 0.2rem;
  letter-spacing: 1px;
  color: var(--main-p-color);
  /* font-family: 'Lato', sans-serif; */
}

/* all image */
img {
  width: 100%;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/* width */
::-webkit-scrollbar {
  /* display: none; */
  width: .2rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--pri-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--sec-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--third-color);
}

.moveup {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
}

.movedown {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
}

.enablescroll {
  overflow-y: visible;
}

.container {
  width: 100%;
  max-width: 80vw;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.section-heading {
  text-align: center;
  margin-bottom: 10rem;
  /*  Neumorphism Theme */
  padding: 3rem 1rem 4rem 1rem;
  border-radius: 1rem;
  -webkit-box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 30px -5px rgba(0, 0, 0, 0.5);
}

.section-heading h1 {
  font-size: 3.5rem;
  color: var(--pri-color);
  opacity: 0.8;
  text-transform: uppercase;
  font-weight: 300;
  position: relative;
  margin-bottom: 0.8rem;
  /* font-family: 'Lora', serif; */
  letter-spacing: 0.2rem;
}

.section-heading h6::before,
.section-heading h6::after {
  content: '';
  position: absolute;
  /* bottom: 0; */
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.6);
}

.section-heading h6::before {
  top: -0.2rem;
  width: 16rem;
  height: 2px;
  border-radius: 0.8rem;
}

.section-heading h6::after {
  bottom: -.7rem;
  width: 8rem;
  height: 2px;
  border-radius: 0.8rem;
}

.section-heading h6 {
  /* margin-top: -0.1em; */
  -webkit-transform: translateY(-30%);
          transform: translateY(-30%);
  font-size: 1.6rem;
  font-weight: 300;
  color: var(--main-p-color);
  letter-spacing: 1px;
}

.has-margin-right {
  margin-right: 5rem;
  text-align: right;
}

.preload {
  position: fixed;
  top: 0;
  z-index: 9999;
  height: 100vh;
  width: 100%;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.preload-top {
  top: 0;
  height: 50%;
  background-color: var(--third-color);
  width: 100vw;
}

.preload-bot {
  bottom: 0;
  height: 50%;
  background-color: var(--third-color);
  width: 100vw;
}

#svg-loading {
  width: 10%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -47%);
  -webkit-transform: translate(-50%, -47%);
  -moz-transform: translate(-50%, -47%);
  -ms-transform: translate(-50%, -47%);
  -o-transform: translate(-50%, -47%);
}

.loading-leave {
  position: absolute;
  width: 8rem;
  height: 8rem;
  background: #ffffff20;
  border-bottom-right-radius: 100%;
  border-top-left-radius: 100%;
  top: 37%;
  left: 48%;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
  -webkit-animation: preload-anim 2s linear infinite alternate;
  animation: preload-anim 2s linear infinite alternate;
}

#svg-loading path:nth-child(1) {
  stroke-dasharray: 555;
  stroke-dashoffset: 555;
  -webkit-animation: line-anime 2s ease forwards .2s;
          animation: line-anime 2s ease forwards .2s;
}

#svg-loading path:nth-child(2) {
  stroke-dasharray: 555;
  stroke-dashoffset: 555;
  -webkit-animation: line-anime 2s ease forwards .2s;
          animation: line-anime 2s ease forwards .2s;
}

#svg-loading path:nth-child(3) {
  stroke-dasharray: 555;
  stroke-dashoffset: 555;
  -webkit-animation: line-anime 2s ease forwards .2s;
          animation: line-anime 2s ease forwards .2s;
}

#svg-loading path:nth-child(4) {
  stroke-dasharray: 555;
  stroke-dashoffset: 555;
  -webkit-animation: line-anime 2s ease forwards .2s;
          animation: line-anime 2s ease forwards .2s;
}

#svg-loading path:nth-child(5) {
  stroke-dasharray: 555;
  stroke-dashoffset: 555;
  -webkit-animation: line-anime 2s ease forwards .2s;
          animation: line-anime 2s ease forwards .2s;
}

#svg-loading path:nth-child(6) {
  stroke-dasharray: 555;
  stroke-dashoffset: 555;
  -webkit-animation: line-anime 2s ease forwards .2s;
          animation: line-anime 2s ease forwards .2s;
}

#svg-loading path:nth-child(7) {
  stroke-dasharray: 555;
  stroke-dashoffset: 555;
  -webkit-animation: line-anime 2s ease forwards .2s;
          animation: line-anime 2s ease forwards .2s;
}

.preload-finish {
  opacity: 0;
  pointer-events: none;
}

.loading-finish {
  opacity: 0;
  -webkit-transition: all 0s ease-in-out;
  transition: all 0s ease-in-out;
}

/*End global*/
header {
  width: 100%;
  height: 100vh;
}

/* .top-nav {
    width: 100%;
    height: 100vh;
    position: fixed;
    right: -100vw;
    z-index: 900;
    background-color: var(--third-color); */
/* border-bottom-left-radius: 100%; */
/* transition: all 800ms cubic-bezier(1, 0, 0, 1);
    opacity: 0;
} */
.nav-list,
.nav-link-container {
  list-style: none;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-link-container {
  -webkit-transform: translateX(0.46%);
          transform: translateX(0.46%);
}

.nav-list p.designedby {
  position: absolute;
  bottom: 0;
  margin-bottom: 4rem;
  font-size: 1.5rem;
  display: none;
}

/* also for contact icon */
li {
  margin: 0 .5%;
}

.top-nav-list {
  display: inline-block;
}

.nav-link {
  /* font-family: monospace; */
  text-transform: uppercase;
  letter-spacing: .1rem;
  font-size: 1.4em;
  padding: .6rem 2rem;
  color: aliceblue;
}

/* animation when hovering nav link */
/* .nav-link::after {
    content: '';
    position: absolute;
    width: 10%;
    height: 1rem;
    background-color: #fff;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    opacity: 1;
} */
.nav-link:hover,
.nav-link:focus {
  /* background: var(--background);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
  display: inline;
  /* text-shadow: -2px 1.5px 2px #000000; */
  /*  Neumorphism Theme */
  text-shadow: var(--pri-color) 0px 0px 1rem;
  /* browser support */
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

/* .nav-link:hover .nav-link::after {
    opacity: 0;
} */
.top-nav.open {
  right: 0;
  opacity: 1;
  border-radius: initial;
}

.menu-toggler {
  position: fixed;
  top: 3rem;
  right: 3rem;
  width: 4rem;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* cursor: pointer; */
  z-index: 999;
  -webkit-transition: -webkit-transform 500ms ease-out;
  transition: -webkit-transform 500ms ease-out;
  transition: transform 500ms ease-out;
  transition: transform 500ms ease-out, -webkit-transform 500ms ease-out;
}

.menu-toggler.open {
  -webkit-transform: rotate(-270deg);
          transform: rotate(-270deg);
}

.bar {
  background: var(--mobile-bar-color);
  width: 100%;
  height: 3px;
  border-radius: .8rem;
  -webkit-box-shadow: 0px 0px 12px 0px var(--third-color);
  box-shadow: 0px 0px 12px 0px var(--third-color);
}

.bar.half {
  width: 100%;
}

.bar.start {
  width: 60%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transition: -webkit-transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57), -webkit-transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.open .bar.start {
  opacity: 0;
  -webkit-transition: ease-in-out 650ms;
  transition: ease-in-out 650ms;
  -webkit-transform: rotate(-450deg) translateX(0rem);
          transform: rotate(-450deg) translateX(0rem);
}

.open .bar.middle {
  -webkit-transform: rotate(-630deg);
          transform: rotate(-630deg);
  /* opacity: 0;
    transition: ease-in-out 650ms; */
}

.bar.end {
  width: 60%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transition: -webkit-transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57), -webkit-transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.open .bar.end {
  opacity: 0;
  -webkit-transition: ease-in-out 650ms;
  transition: ease-in-out 650ms;
  -webkit-transform: rotate(-450deg) translateX(0rem);
          transform: rotate(-450deg) translateX(0rem);
}

/* Start navigation bar  */
.hide {
  opacity: 0;
  /* cant use hidden cuz will affect the mobile view  */
  /* overflow: hidden; */
  /* browser support */
  /* -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out; */
}

.nav-logo {
  text-align: center;
  letter-spacing: .6rem;
  font-size: 2rem;
  height: 50%;
  padding-bottom: 1rem;
}

.nav-logo a {
  /* need to find a better font fam */
  /* font-family: monospace; */
  font-weight: 100;
  color: aliceblue;
}

.top-nav {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: fixed;
  padding: 1.2rem 0;
  /* right: -100vw; */
  z-index: 900;
  /* browser support */
  -webkit-transition: all 800ms cubic-bezier(1, 0, 0, 1);
  transition: all 800ms cubic-bezier(1, 0, 0, 1);
  /* for debug */
  /* background-color: rgba(245, 254, 241, 0.1); */
}

.startscrolling {
  /* top: -3rem; */
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #10212820;
  /* browser support */
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.scrollup {
  /* height: 6vh; */
  background-color: #10212888;
  /* browser support */
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

#_progress {
  -webkit-transform: translateY(7.9rem);
          transform: translateY(7.9rem);
  --scroll: 0%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.6)), color-stop(0, transparent));
  background: linear-gradient(to right, rgba(255, 255, 255, 0.6) var(--scroll), transparent 0);
  position: fixed;
  width: 100%;
  height: 1.5px;
  top: 0px;
  z-index: 100;
}

.landing-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  z-index: 1;
}

.landing-text .logo {
  width: 80%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: 0;
  position: absolute;
  /* top: 30%; */
  left: 50%;
  -webkit-transform: translate(-50%, -55%);
          transform: translate(-50%, -55%);
}

.landing-text h6 {
  font-family: monospace;
  -webkit-transform: translateY(18rem);
          transform: translateY(18rem);
  font-size: 2.2rem;
  font-weight: 300;
  color: var(--background);
}

/* action buttons */
.landing-action {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(700%);
          transform: translateY(700%);
  /* opacity: .8; */
}

.action-btn {
  height: 3rem;
  width: 8%;
  /* border: 1px solid var(--pri-color); */
  border-radius: 3rem;
  margin: .4% 1.4%;
  /* Neumorphism */
  /* -webkit-box-shadow: 
        0px 0px 10px 0px var(--pri-color);
    -moz-box-shadow: 
        0px 0px 10px 0px var(--pri-color);
    box-shadow: 
        0px 0px 10px 0px var(--pri-color); */
  -webkit-box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 30px -5px rgba(0, 0, 0, 0.5);
}

.action-btn p {
  -webkit-transform: translateY(0.34rem);
          transform: translateY(0.34rem);
  font-size: 1.3rem;
  letter-spacing: .1rem;
  color: var(--pri-color);
}

/* from https://codepen.io/kay8/pen/azKbjN */
/* github button */
.bg-slide-to-right {
  background: -webkit-gradient(linear, left top, right top, color-stop(10%, var(--third-color)), color-stop(50%, rgba(255, 255, 255, 0)));
  background: linear-gradient(to right, var(--third-color) 10%, rgba(255, 255, 255, 0) 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.bg-slide-to-right:hover {
  background-position: left bottom;
}

.bg-slide-to-right:hover .action-text-1 {
  z-index: 1;
  color: var(--pri-color);
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

/* explore button */
.explore-btn:hover ~ .scroll-down-anim {
  opacity: .6;
}

.explore-btn:hover {
  /* might add some anim here */
}

.scroll-down-anim {
  position: absolute;
  top: 0;
  left: 50%;
  width: 3rem;
  height: 5rem;
  -webkit-transform: translate(-1.5rem, 8rem);
          transform: translate(-1.5rem, 8rem);
  border: 2px solid var(--third-color);
  border-radius: 2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  opacity: 0;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.scroll-down-anim::before {
  content: '';
  position: absolute;
  top: 1rem;
  left: 50%;
  width: .6rem;
  height: .6rem;
  margin-left: -.3rem;
  background-color: var(--third-color);
  border-radius: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-animation: mouse-scroll-anim 2s infinite;
  animation: mouse-scroll-anim 2s infinite;
}

/* portfolio button */
.bg-slide-to-left {
  background: -webkit-gradient(linear, right top, left top, color-stop(10%, var(--third-color)), color-stop(50%, rgba(255, 255, 255, 0)));
  background: linear-gradient(to left, var(--third-color) 10%, rgba(255, 255, 255, 0) 50%);
  background-size: 200% 100%;
  background-position: left bottom;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.bg-slide-to-left:hover {
  background-position: right bottom;
}

.bg-slide-to-left:hover .action-text-3 {
  z-index: 1;
  color: var(--pri-color);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

/* for javascript */
.main-h6 {
  opacity: 0;
}

.show {
  opacity: 1;
}

span {
  opacity: 0.6;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  color: var(--sec-color);
}

.main-h6-anim {
  opacity: 1;
  color: var(--main-p-color);
}

.leaves {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.leaves li {
  position: absolute;
  display: block;
  list-style: none;
  width: 6rem;
  height: 6rem;
  background: #ffffff20;
  -webkit-animation: flying 5s linear infinite;
          animation: flying 5s linear infinite;
  border-bottom-right-radius: 100%;
  border-top-left-radius: 100%;
  top: -11rem;
}

.leaves li:nth-child(1) {
  left: 88%;
  width: 8rem;
  height: 8rem;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.leaves li:nth-child(2) {
  left: 46%;
  width: 4.2rem;
  height: 4.2rem;
  -webkit-animation-delay: 7.6s;
          animation-delay: 7.6s;
}

.leaves li:nth-child(3) {
  left: 56%;
  width: 4rem;
  height: 4rem;
  -webkit-animation-delay: 4.1s;
          animation-delay: 4.1s;
}

.leaves li:nth-child(4) {
  left: 8%;
  width: 9rem;
  height: 9rem;
  -webkit-animation-delay: 4.6s;
          animation-delay: 4.6s;
}

.leaves li:nth-child(5) {
  left: 34%;
  width: 4rem;
  height: 4rem;
  -webkit-animation-delay: 3.3s;
          animation-delay: 3.3s;
}

.leaves li:nth-child(6) {
  left: 20%;
  width: 5.3rem;
  height: 5.3rem;
  -webkit-animation-delay: 5.8s;
          animation-delay: 5.8s;
}

.leaves li:nth-child(7) {
  left: 80%;
  width: 3rem;
  height: 3rem;
  -webkit-animation-delay: 8.5s;
          animation-delay: 8.5s;
}

.leaves li:nth-child(8) {
  left: 70%;
  width: 6rem;
  height: 6rem;
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}

.leaves li:nth-child(9) {
  left: 4%;
  width: 3rem;
  height: 3rem;
  -webkit-animation-delay: 4.2s;
          animation-delay: 4.2s;
}

.leaves li:nth-child(10) {
  left: 40%;
  width: 2rem;
  height: 2rem;
  -webkit-animation-delay: 6.4s;
          animation-delay: 6.4s;
}

.cursor {
  width: 3rem;
  height: 3rem;
  border: 0 solid var(--pri-color);
  border-radius: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transform-origin: 66% 60%;
          transform-origin: 66% 60%;
  pointer-events: none;
  z-index: 999;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  -webkit-transition-property: background, -webkit-transform;
  transition-property: background, -webkit-transform;
  transition-property: background, transform;
  transition-property: background, transform, -webkit-transform;
  /* transition: all 0.1s ease; */
  -webkit-box-shadow: 0px 0px 22px 0px var(--pri-color);
  box-shadow: 0px 0px 22px 0px var(--pri-color);
  -webkit-backdrop-filter: sepia(100%);
          backdrop-filter: sepia(100%);
  /* backdrop-filter: invert(30%); */
}

/* apply to js */
.img-grow {
  -webkit-transform: scale(3);
          transform: scale(3);
}

.about-section {
  height: 100vh;
}

.about .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-heading {
  text-align: center;
  text-transform: uppercase;
  line-height: 0;
  margin-bottom: 6rem;
  color: var(--sec-color);
}

.about-heading h1 {
  font-size: 10rem;
  /* Green Theme */
  /* opacity: .3; */
  /* Neumorphism Theme */
  opacity: .2;
}

.about-heading h6 {
  font-family: monospace;
  color: var(--main-p-color);
  font-size: 3rem;
  font-weight: 300;
  margin-top: .45rem;
}

.profile-img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 5rem;
  /* animation: pulse 2s infinite; */
  z-index: 2;
}

.profile-img img {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  /*  Neumorphism Theme */
  -webkit-box-shadow: 0px 0px 29px -5px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 29px -5px rgba(0, 0, 0, 0.5);
}

/* .profile-img a img:hover {
    transition: all 0.7s ease; 
    transform: scale(1.02); 
} */
.about-details {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.about-details p {
  font-weight: 300;
}

/* Green Theme */
/* .about-social-media img { 
    margin: 60% 1rem 0 1rem;
    width: 5rem;
} */
.about-social-media i {
  font-size: 4rem;
  -webkit-transition: color 650ms;
  transition: color 650ms;
  margin: 60% 1rem 0 1rem;
  opacity: .8;
  /*  Neumorphism Theme */
  -webkit-box-shadow: 0px 0px 32px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 32px 10px rgba(0, 0, 0, 0.1);
}

.about-social-media i:hover {
  opacity: 1;
  -webkit-box-shadow: 0 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0 rgba(0, 0, 0, 0);
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.myskills-button {
  cursor: pointer;
  text-align: center;
  bottom: 0;
  margin: 0 auto;
  height: 4rem;
  border-radius: 40rem;
  width: 30%;
  -webkit-transform: translate(0, 150%);
          transform: translate(0, 150%);
  background: var(--background);
  opacity: .5;
}

.myskills-button a p {
  color: var(--third-color);
  font-size: 1.5rem;
  -webkit-transform: translate(0, 35%);
          transform: translate(0, 35%);
}

.myskills-button:hover {
  opacity: 1;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-box-shadow: 0px 0px 8px 0px var(--pri-color);
  box-shadow: 0px 0px 8px 0px var(--pri-color);
}

.myskills-button:hover p {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: var(--pri-color);
}
