
/*Start media queries*/
@media all and (max-width: 1440px) {
    /* action buttons */
    .action-1 p, .action-2 p, .action-3 p {
        transform: translateY(.3rem);
    }

}
@media all and (max-width: 1281px) {    
    .loading-leave {
        /* width: 9rem;
        height: 9rem; */
        top: 36%;
        left: 47%;
    }
    .landing-text h6 { 
        font-size: 1.8rem;
        transform: translateY(10rem);
    }
    .nav-link {
        font-size: 1.8em; 
        padding: 1.2rem;
    }
}
@media all and (max-width: 1024px) { 
    /* action buttons */   
    .action-btn {
        width: 14%;
        border-radius: 3rem;
    }
    .profile-img img {
        transform: scale(1.06);
    }    
    .timeline p, .timeline h1 {
        transform: translateX(1.2rem);
    }
    .timeline .date::before {
        transform: translate(-140%, -70%);
    }
    .timeline .date::after {
        transform: translate(-159%, -70%);   
    }
    .main-footer {
        padding-bottom: 5rem;
    }
}
/* tablet */
@media all and (max-width: 801px) {
    .about-section {
        height: auto;
    }
    .one-page-container {
        transform: translateY(0rem);
    }
    .loading-leave {
        width: 9rem;
        height: 9rem;
        top: 36%;
        left: 45%;
    }
    #svg-loading {
        width: 16%;
    }
    .cursor {
        display: none;   
    }
    .landing-text h6 {  
        font-size: 1.5rem;
        transform: translateY(8rem);
    }
    .hide {
        opacity: 1;
    }
    .nav-logo {
        display: none;
    }
    .top-nav {
        height: 100vh;
        right: -100vw;
        background: $theme-mobile-bar-bg;
        /* border-bottom-left-radius: 100%; */
        /* transition: all 800ms cubic-bezier(1, 0, 0, 1); */
        opacity: 0;
        background-size: 200% 200%;
	    animation: mobile-bar-bg-mover 10s ease infinite;
    }
    .nav-link {
        color: $theme-light-color;

    }
    .nav-list p.designedby {
        font-size: 1.1rem;
        display: block;
    }
    .nav-link-container { 
        flex-direction: column;
    }
    .nav-list p {
        font-size: 1.2rem;
    }
    li {
        margin: 2rem 0;
    }
    .nav-link {
        font-size: 1.8rem;
        letter-spacing: .1rem;
    }
    #_progress {
        display: none;
    }
    .about-heading h1 {
        font-size: 8rem;
    }
    .myskills-button { 
        width: 40%;
        opacity: .7;
    }
    .section-heading h1 {
        font-size: 3rem;
    }
    .section-heading h6 {
        /* margin-top: 1.1rem; */
        font-size: 1.6rem;
    }
    .about-heading h6 {
        margin-top: .3rem;
    }
    .about-details .nav-list {
        flex-direction: row;
    }
    .about-details li {
        margin: 0 2rem;
    }
    .icon-container i {
        font-size: 3.5rem;
    }
    /* this is the second item  */
    .portfolio-description.has-margin-right { 
        text-align: left;
    }
    .timeline p, .timeline h1 {
        transform: translateX(0);
        width: 95%;
    }
    .timeline ul {        
        /* padding: 2rem 0 2rem 1rem; */
        padding: 1rem 0 3rem 4.3rem;
        margin: 0 0 0 auto;
    }
    .timeline .date::before {
        transform: translate(-22rem, -100%);
    }
    .timeline .date::after {
        transform: translate(-355%, -110%); 
    }
    .emailme a {
        font-size: 18rem;
    }
    .main-footer {
        padding-bottom: 6.6rem;
    }
    ul.contact-social-media-ul {
        text-align: center;
        display: table; 
    }
    ul.contact-social-media-ul li {
        display: inline-block; 
    }
    ul.contact-social-media-ul li a {
        margin: 0 2rem;
    }

    /* need to move to the correct css */
    .back a img { 
        top: 2.5rem;  
    }

    .rotating-box { 
        margin: auto;
        margin-top: -6rem;
    }
    .more-button {
        stroke-dasharray: 8;
        stroke-dashoffset: 555;
        animation: line-anime 8s ease forwards;
        transform: translate(-50%, 500%);
    }
    .more-button a p {
        font-size: 1.5rem;
        bottom: 0;
        padding: 2rem;
        left: 2rem;
        z-index: 2;
    }
    .more-button #arrow-svg {
        transform: scale(1.2);
    }
    .content-carrousel {
        animation: fan 40s infinite linear;
    }
    .content-carrousel:hover {
        /* animation-play-state: paused; */
        cursor: pointer;
    }
    .content-carrousel figure img {
        margin-top: 0.2rem;
        width: 8rem;
        height: 8rem;
    }
    .content-carrousel figure svg {
        width: 11rem;
        height: 11rem;
        left: 50%;
        transform: translate(-50%, -11%);
    }
    .content-carrousel figure p {
        z-index: 3;
        position: absolute;
        color: $theme-light-color;
        font-size: 2rem;
        transform: translate(80%, 400%);
    }
    .content-carrousel figure p .first-p { 
        margin-left: 0rem;
    }
    .content-carrousel figure p .sec-p { 
        margin-left: -1.1rem;
    }
    .content-carrousel figure p .third-p { 
        margin-left: -1rem;
    }
    .content-carrousel figure:nth-child(1) {
        transform: rotateY(0deg) translateZ(30rem);
    }
    .content-carrousel figure:nth-child(2) {
        transform: rotateY(36deg) translateZ(30rem);
    }
    .content-carrousel figure:nth-child(3) {
        transform: rotateY(72deg) translateZ(30rem);
    }
    .content-carrousel figure:nth-child(4) {
        transform: rotateY(108deg) translateZ(30rem);
    }
    .content-carrousel figure:nth-child(5) {
        transform: rotateY(144deg) translateZ(30rem);
    }
    .content-carrousel figure:nth-child(6) {
        transform: rotateY(180deg) translateZ(30rem);
    }
    .content-carrousel figure:nth-child(7) {
        transform: rotateY(216deg) translateZ(30rem);
    }
    .content-carrousel figure:nth-child(8) {
        transform: rotateY(252deg) translateZ(30rem);
    }
    .content-carrousel figure:nth-child(9) {
        transform: rotateY(288deg) translateZ(30rem);
    }
    .content-carrousel figure:nth-child(10) {
        transform: rotateY(324deg) translateZ(30rem);
    }

}

/* mobile */
@media all and (max-width: 600px) {
    .loading-leave {
        width: 6rem;
        height: 6rem;
        top: 40%;
        left: 43%;
    }
    .landing-text h6 {  
        /* font-size: 1.5rem; */
        transform: translateY(5rem);
    }

    /* action buttons */
    .landing-action {
        transform: translateY(300%);
    }
    .action-btn {
        width: 26%;
        border-radius: 2rem;
        margin: 1%;
    }
    .action-btn p {
        transform: translateY(.63rem);
        font-size: 1.1rem;
        letter-spacing: .2rem;
    }    

    #svg-loading {
        width: 26%;
        transform: translate(-50%, -25%);
    }

    p {
        font-size: 1.6rem;
        line-height: 1.6;
        word-spacing: 0;
        letter-spacing: 0; 
    }
    .bar {
        height: 2px;
    }
    .menu-toggler {
        top: 2rem;
        right: 2rem;  
        width: 3rem;
        height: 2rem; 
    }
    .nav-list p {
        font-size: 1.1rem;
    }
    .section-heading h6 {
        font-size: 1.4rem;
    }
    .section-heading h6::after {
        bottom: -.5rem;
    }
    .landing-text h6 {
        font-size: 1.2rem;
    }
    .nav-link {
        font-size: 1.2rem;
        padding: 5% 1rem;
    }
    .about .container {
        flex-direction: column;
    }
    .profile-img {
        margin: 0 0 7rem 0;
    }
    .about-details p {
        text-align: center;
        line-height: 1.6;
        padding: 0 auto;
    }
    .about-social-media i {
        /* margin-top: 100%; */
        margin: 100% 0 0 0;
        /* width: 4rem; */
    }
    .myskills-button {
        opacity: .8;
        transform: translate(0, 80%);
    }
    
    /* specialization */
    .icon-container i { 
        font-size: 4.5rem; 
    }
    .has-margin-right {
        margin-right: 0;
        text-align: left;
    }
    .portfolio-item {
        flex-direction: column;
    }
    .portfolio-img {
        margin: 0 0 2rem 0;
        order: 1;
    }
    .portfolio-description {
        margin: 0;
        order: 2;
    }
    .portfolio-description .cta { 
        margin-bottom: 2rem;
    }
    .timeline {
        margin: 0;
        padding: 0; 
        margin-left: 12rem;
    }
    .timeline ul {
        padding: 0 auto;
        margin: 0 auto;
    }
    .timeline p { 
        font-size: 1.4rem;
    }
    .timeline p, .timeline h1 {
        /* margin-left: -2.2rem; */
        transform: translateX(-2.4rem);
    }
    .timeline .date::before {
        font-size: 1.6rem; 
        transform: translate(-19rem, -110%);
    }
    .timeline .date::after {
        /* transform: translateX(-355%);  */
    }
    .contact {
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;
    }
    form {
        width: 100%;
    }
    .contact-social-media i {
        font-size: 3rem;
        margin: 0 -0.6rem;
    }
    .up {
        height: 4rem;
        width: 4rem;
        top: 91vh;
        right: 5vw;
    }
    .up i {
        font-size: 1.8rem;
        margin-top: 1rem;
    }

    /* need to move to the correct css */
    .back a img {
        height: 2.3rem;
        width: 2.5rem;
        top: 2rem;
        left: 0.6rem;  
    }

    
    .rotating-box {
        width: 20rem;
        height: 20rem;
        margin: auto;
        margin-top: -7rem;
    }
    .single-rb img {
        width: 20rem;
        height: 20rem;
    } 
    .font-side {
        transform: translateZ(10rem);
    }
    .back-side {
        transform: rotateY(180deg) translateZ(10rem);
    }
    .left-side {
        transform: rotateY(-90deg) translateX(-10rem);
        transform-origin: left;
    }
    .right-side {
        transform: rotateY(90deg) translateX(10rem);
        transform-origin: right;
    }
    .top-side {
        transform: rotateX(-90deg) translateY(-10rem);
        transform-origin: top;
    }
    .bottom-side {
        transform: rotateX(90deg) translateY(10rem);
        transform-origin: bottom;
    }
    .more-button {
        stroke-dasharray: 8;
        stroke-dashoffset: 700;
        animation: line-anime 8s ease forwards;
        transform: translate(-50%, 350%);
    }
    .more-button a p {
        font-size: 1.2rem;
        bottom: 0.3rem;
        padding: 2rem;
        left: 3.5rem;
    }
    .more-button #arrow-svg {
        transform: scale(0.9);
    }


}

@media all and (max-width: 321px) {

}
/*End media queries*/