/**
* 
**/

// sec-color
$theme-color: #A8CABA; 
// pri-color
$theme-light-color: rgb(255, 255, 255); 
// third-color
$theme-dark-color: #44415d; 
// main-p-color
$theme-font-color: #ddfff8; 


// --background
$theme-background: linear-gradient(0deg, $theme-color, $theme-dark-color) no-repeat center fixed;
// --mobile-bar-color
$theme-mobile-bar-color: linear-gradient(45deg, $theme-dark-color, $theme-color, $theme-light-color);
// --mobile-bar-bg
$theme-mobile-bar-bg: linear-gradient(45deg, $theme-dark-color, $theme-color);