/*
GitHub: @enkr1, Instagram: @enkr1
*/

// Variables
@import "variables";

// Global and reusable 
@import "animations";
@import "global";
@import "reusable";

// Sections
@import "preload";
@import "header";
@import "home";
@import "about";
@import "specialization";
@import "experience";
@import "portfolio";
@import "contact";
@import "footer";
@import "old";
@import "interest";

// ...