/* main page  */

body.interest-body {
    background: url("images/interest-main-img.jpg") no-repeat center fixed;
    background-size: cover;
}


@media screen and (max-width: 600px) {

    body.interest-body {
        background: url("images/interest-main-img-m.jpg") no-repeat center fixed;
        background-size: cover;
    }
}
/* main page  */